data/nsdg.xml

<?xml version="1.0" ?>

<xs:schema xmlns="http://greenlightning.eu/nsdg"
	targetNamespace="http://greenlightning.eu/nsdg" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd"
	elementFormDefault="qualified">

	<xs:element name="diagram">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="parent">
					<xs:attribute name="title" type="xs:token"></xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="parent">
		<xs:sequence>
			<xs:group ref="child" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:group name="child">
		<xs:choice>
			<xs:element name="block" type="xs:token" />
			<xs:element name="branch" type="branch" />
			<xs:element name="loop" type="loop" />
		</xs:choice>
	</xs:group>

	<xs:complexType name="branch">
		<xs:sequence>
			<xs:element name="left" type="labelled" minOccurs="0" />
			<xs:element name="right" type="labelled" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="condition" type="xs:token" />
	</xs:complexType>

	<xs:complexType name="labelled">
		<xs:complexContent>
			<xs:extension base="parent">
				<xs:attribute name="label" type="xs:token" default="" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="loop">
		<xs:complexContent>
			<xs:extension base="parent">
				<xs:attribute name="type" default="test-first">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="test-first" />
							<xs:enumeration value="test-last" />
							<xs:enumeration value="infinite" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="condition" type="xs:token" />
				<xs:attribute name="top" type="xs:token" />
				<xs:attribute name="side" type="xs:token" />
				<xs:attribute name="bottom" type="xs:token" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>